# Ignore everything in the build directory
/firmware/build/*

# But don't ignore the src directory inside build
!/firmware/build/src/

# Only track .uf2 files in the src directory
/firmware/build/src/*
!/firmware/build/src/*.uf2
!/firmware/build/src/*.elf
