# Ignore everything in the build directory
/build/*

# But don't ignore the src directory inside build
!/firmware/build/

# Only track .uf2 files in the src directory
/firmware/build/*
!/firmware/build/*.uf2
!/firmware/build/*.elf
